* {
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  font-size: 1.02rem;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
  margin: 0px;
  color: #eee;
  font-family: Poppins;
  position: relative;
  width: 100%;
  overflow-x: hidden;
  font-size: 12px;
}

.navbar {
  height: 20px;
  position: absolute;
  top: 5px;
  left: 0px;
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  transition: all 1s;
}


.image img {
  width: 15rem;
  border-radius: 50%;
  height: 100px;
  border-radius: 4px;
}

ul {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  gap: 1.2rem;
  margin: 0px 3rem 0px 0px;
}

ul li a i {
  font-size: 20px;
  color:white;
  font-size: 1.4rem;
  font-weight: 300;
  position: relative;
  top: 6px;
}
ul li {
  list-style-type: none;
}
ul li a {
  color:white;
  font-weight: 40;
  text-decoration: none;
  font-size: 1rem;
}


/* main content css */
.intro {
  height: 1500px;
  width: 100vw;
  background-color: rgb(196, 196, 196);
}

.slider_outer {
  height: 20vh;
  /* background-color: aqua; */
  display: flex;
  width: 100%;

  align-items: center;
  justify-content: center;
}



